* {
  box-sizing: border-box; }

.content {
  padding: 10px 15px;
  min-width: 250px; }
  .content .cbox, .content .input, .content .btn {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    min-height: 30px;
    color: #8f8f8f;
    outline: none !important; }
  .content .btn {
    cursor: pointer;
    background-color: #1a73e8;
    color: #fff; }
  .content .link {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    color: #1a73e8; }
  .content .hidden {
    display: none; }

/*# sourceMappingURL=style.css.map */
